*.class
*.log
.metals/readonly/scala/Predef.scala
.bloop
.metals
project/.bloop
target/
core/target/
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt
modules/core/src/main/scala/tradex/tradeioz.code-workspace
.bsp
